/* main color: 334998 */

body {
    font-family: Lato, 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #334998;
}

strong {
    font-weight: 400;
}

[data-action] {
    cursor: pointer;
}

h2 {
    font-size: 32px;
    letter-spacing: 6px;
}

h3 {
    font-size: 32px;
    letter-spacing: 6px;
    color: #fff;
}

h4 {
    font-weight: 400;
}

.red {
    color: #983349;
}

a {
    color: #334998;
}


.container {
    margin: 0 auto;
    padding: 16px;
}

.hero {
    height: auto;
    padding: 120px 0 350px 0;
    background-image: url('../img/amap3.webp');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #191919;
    font-size: 58px;
}

.hero-whoami {
    display: inline-block;
    margin: 0 auto 120px;
    width: auto;
    border: 3px solid #fff;
    border-radius: 2px;
    padding: 0 16px;
    font-weight: 400;
}

.hero-name {
    letter-spacing: 0.1em;
    font-weight: 400;
}

.hero-profession {
    letter-spacing: 2px;
    font-size: 42px;
}

.about {
    height: auto;
    padding: 100px 0 150px;
}

.circular-image {
    margin: 48px auto;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    max-width: 300px;
    width: 100%;
    height: 300px;
    background: url('../img/amap_2.JPG');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 87px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 87px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
}

.circular-icon {
    margin: 48px auto;
    border-radius: 90px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    width: 180px;
    height: 180px;
    -webkit-box-shadow: 0px 0px 87px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 87px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
}

.web {
    background: url('../img/code.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ixd {
    background: url('../img/ixd.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-text {
    margin-bottom: 32px;
}

.about-label {
    color: #1caf9a;
}

.knowledge-header {
    background: url('../img/vannsl-code.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.work-header {
    background: url('../img/vannsl-code.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.arrow-wrapper {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    background-image: url('../img/arrow-down.png');
}

.knowledge {
    height: auto;
    padding: 50px 0 100px;
}

.knowledge-description {
    padding: 16px 32px;
}

.wp1, .wp2 {
    visibility: hidden;
}

.fadeInUp {
    visibility: visible;
}

.mail {
    position: relative;
    margin: 0 auto;
    width: 115px;
}

.mail img {
    position: absolute;
    left: -30px;
    height: 25px;
    width: 25px;
}

.projects-header {
    background: url('../img/contact-bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#imprint {
    display: none;
}

.back-to-main {
    width: 40px;
    height: 40px;
}

#imprint div {
    margin-bottom: 25px;
}

footer {
    padding: 32px 0;
    height: 110px;
    background-color: #474D47;
    color: #fff;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
}

blockquote {
    border: none;
    font-size: 28px;	
    font-style: italic;
    margin: 0.25em 0 30px;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
}





























